#main{
  margin:0 auto;
  max-width:1300px;
  #tabla{
    display: grid;
    grid-template-columns: 1fr;

    #cabecera{
      padding:0 15px;
      display: grid;
      grid-template-columns: repeat(6,calc(80%/6));
    }

    .fila{
      padding:0 15px;
      display: grid;
      grid-template-columns: repeat(6,calc(80%/6)) 1fr;

      .botones{
        display: grid;
        grid-template-columns: repeat(3,minmax(max-content,auto));

        column-gap: 10px;

        justify-items: center;
        align-items: center;

        .form_detalle{
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
        .form_update{
          grid-row: 1 / 2;
          grid-column: 2 / 3;
        }
        .form_delete{
          grid-row: 1 / 2;
          grid-column: 3 / 4;
        }
        form{
          input{
            margin:0;
          }
        }
      }
    }

    .fila:hover{
      background-color: aquamarine;
      font-weight: bold;
    }
  }
}