#contenedor{
  margin:0 auto;
  max-width:1300px;

  display: grid;
  justify-items: center;

  #contenido{
    display: grid;

    grid-template-columns: min-content min-content;
    justify-items: center;

    column-gap: 10px;
    div{
      display: grid;
      grid-template-columns: 100px minmax(auto,200px);

      grid-column: 1 / 2;

    }
    #pedidos{
      grid-template-columns: 500px;
      justify-self:normal;
      h3{
        grid-column: 1 / 4;
      }

      div{
        display: grid;
        grid-template-columns: repeat(3,1fr);

        p{
          grid-row: 1 / 2;
        }
      }
    }

    form{
      grid-column: 2 / 3;
      grid-row: 9 / 10;

      display: grid;
      align-items: center;

      input{
        background-color: #79a6f1;
      }

      input:hover{
        background-color: #a1c2e8;
      }
    }
  }
}