<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <link rel="stylesheet" href="/css/stylesdetalle.css">
</head>
<body>
<div id="contenedor" th:object="${cliente}">
    <form action="">

        <div id="id">
            <p>Id: </p>
            <p th:text="*{id}"></p>
        </div>
        <div id="nombre">
            <p>Nombre: </p>
            <p th:text="*{nombre}"></p>
            <input th:value="${fabricante.codigo}" value="Código" type="text"/>
        </div>
        <div id="apellido1">
            <p>Apellido 1: </p>
            <p th:text="*{apellido1}"></p>
        </div>
        <div id="apellido2">
            <p>Apellido 2: </p>
            <p th:text="*{apellido2}"></p>
        </div>
        <div id="ciudad">
            <p>Ciudad: </p>
            <p th:text="*{ciudad}"></p>
        </div>
        <div id="categoria">
            <p>Categoria: </p>
            <p th:text="*{categoria}"></p>
        </div>
        <div>
            <form class="form_listado" th:action="@{/clientes}">
                <input th:value="Volver" type="submit">
            </form>
        </div>
    </form>
</div>

</body>
</html>