<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: headerlines">
    <meta charset="UTF-8">
    <title>Clientes</title>

</head>
<body>
<div id="main" th:fragment="formField (comercial, crear)">
    <div>
        <h1 th:text="#{comerciales}"></h1>
    </div>
    <form id="boton_crear" action="/comerciales/crear" method="get">
        <input th:value="#{crear}" type="submit">
    </form>
    <div id="tabla">

        <div id="cabecera">
            <div class="cabecera id">
                <h2>ID</h2>
            </div>
            <div class="cabecera nombre">
                <h2>Nombre</h2>
            </div>
            <div class="cabecera apellido1">
                <h2>Apellido 1</h2>
            </div>
            <div class="cabecera apellido2">
                <h2>Apellido 2</h2>
            </div>
            <div class="cabecera ciudad">
                <h2>Ciudad</h2>
            </div>
            <div class="cabecera categoria">
                <h2>Categoría</h2>
            </div>
        </div>

        <div th:each="cliente : ${listaClientes}" class="fila">
            <div class="columna id">
                <p th:text="${cliente.id}"></p>
            </div>
            <div class="columna nombre">
                <p th:text="${cliente.nombre}"></p>
            </div>
            <div class="columna apellido1">
                <p th:text="${cliente.apellido1}"></p>
            </div>
            <div class="columna apellido2">
                <p th:text="${cliente.apellido2}"></p>
            </div>
            <div class="columna ciudad">
                <p th:text="${cliente.ciudad}"></p>
            </div>
            <div class="columna categoria">
                <p th:text="${cliente.categoria}"></p>
            </div>
            <div class="columna botones">
                <form class="form_detalle" th:action="@{/comerciales/__${cliente.id}__}" method="get">
                    <input th:value="#{detalle}" type="submit">
                </form>
                <form class="form_update" th:action="@{/comerciales/editar/__${cliente.id}__}" method="get">
                    <input th:value="#{update}" type="submit">
                </form>
                <form class="form_delete" th:action="@{/comerciales/borrar/__${cliente.id}__}" method="post">
                    <input th:value="#{delete}" type="submit">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>