<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear comercial</title>
    <link rel="stylesheet" href="/css/stylesCrearComercial.css">
</head>
<body>
<div id="contenedor">
    <h1>Crear comercial</h1>
    <form th:action="@{/comerciales/crear}" th:object="${comercial}" method="post">

        <div class="input" id="nombre">
            <p th:text="#{Nombre}">Nombre: </p>
            <div>
                <input th:field="*{nombre}" type="text"/>
            </div>

        </div>
        <div class="input" id="apellido1">
            <p th:text="#{Apellido1}">Apellido 1: </p>
            <div>
                <input th:field="*{apellido1}" type="text"/>
            </div>

        </div>
        <div class="input" id="apellido2">
            <p th:text="#{Apellido2}">Apellido 2: </p>
            <div>
                <input th:field="*{apellido2}" type="text"/>
            </div>

        </div>
        <div class="input" id="comision">
            <p th:text="#{Comision}">Comision: </p>
            <div>
                <input  th:field="*{comision}"type="text"/>
            </div>

        </div>

        <div id="submit">
            <input th:value="#{Enviar}" type="submit">
        </div>
    </form>
</div>
</body>
</html>