<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <link rel="stylesheet" href="/css/stylesDetalleComercial.css">
</head>
<body>
<div id="contenedor" th:object="${comercial}">
    <div id="contenido">
        <div id="id">
            <p>Id: </p>
            <p th:text="*{id}"></p>
        </div>
        <div id="nombre">
            <p>Nombre: </p>
            <p th:text="*{nombre}"></p>
        </div>
        <div id="apellido1">
            <p>Apellido 1: </p>
            <p th:text="*{apellido1}"></p>
        </div>
        <div id="apellido2">
            <p>Apellido 2: </p>
            <p th:text="*{apellido2}"></p>
        </div>
        <div id="comision">
            <p>Comisión: </p>
            <p th:text="*{comision}"></p>
        </div>
        <div id="pedidos" th:object="${listaPedidos}" >
            <h3>Lista de pedidos: </h3>
            <div>
                <p>Total</p>
                <p>Fecha</p>
                <p>Id de cliente</p>
            </div>
            <div th:each="pedido : ${listaPedidos}">
                <p th:text="${pedido.total}"></p>
                <p th:text="${pedido.fecha}"></p>
                <p><a th:href="@{/clientes/__${pedido.id_cliente}__}" th:text="${pedido.id_cliente}"></a></p>


            </div>

        </div>
        <form class="form_listado" th:action="@{/comerciales}" method="get">
            <input th:value="#{OK}" type="submit">
        </form>
    </div>

</div>

</body>
</html>