<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <link rel="stylesheet" href="/css/stylesDetalleComercial.css">
</head>
<body>
<div id="contenedor" th:object="${comercialDTO}">
    <h1>Detalle de comercial</h1>
    <div id="contenido">
        <div id="id">
            <p>Id: </p>
            <p th:text="*{id}"></p>
        </div>
        <div id="nombre">
            <p th:text="#{Nombre}">Nombre: </p>
            <p th:text="*{nombre}"></p>
        </div>
        <div id="apellido1">
            <p th:text="#{Apellido1}">Apellido 1: </p>
            <p th:text="*{apellido1}"></p>
        </div>
        <div id="apellido2">
            <p th:text="#{Apellido2}">Apellido 2: </p>
            <p th:text="*{apellido2}"></p>
        </div>
        <div id="comision">
            <p th:text="#{Comision}">Comisión: </p>
            <p th:text="*{comision} + ' €'"></p>
        </div>
        <div id="total">
            <p th:text="#{TotalDePedidos}">total: </p>
            <p th:text="*{total} + ' €'"></p>
        </div>
        <div id="media">
            <p th:text="#{MediaDePedidos}">media: </p>
            <p th:text="*{media} + ' €'"></p>
        </div>
        <div id="pedidos" th:object="${listaPedidos}" >
            <h3>Lista de pedidos: </h3>
            <div>
                <p th:text="#{Total}">Total</p>
                <p th:text="#{Fecha}">Fecha</p>
                <p th:text="#{NombreDeCliente}">Nombre del cliente</p>
            </div>
            <div th:each="pedido : ${listaPedidos}"
                 th:class="${pedido.total.equals(comercialDTO.maximoPedido) ? 'maximo' : pedido.total.equals(comercialDTO.minimoPedido) ? 'minimo': ''}">
                <p th:text="${#numbers.formatDecimal(pedido.total, 1, 2)} + ' €'"></p> <!-- se redondea a dos decimales -->
                <p th:text="${pedido.fecha}"></p>
                <p><a th:href="@{/clientes/__${pedido.cliente.id}__}" th:text="${pedido.cliente.nombre}"></a></p>

            </div>

        </div>
        <div id="clientes" th:object="${listaClientes}" >
            <h3 th:text="">Lista de clientes: </h3>
            <div>
                <p th:text="#{Nombre}"></p>
                <p th:text="#{Apellido1}"></p>
                <p th:text="#{Apellido2}"></p>
                <p th:text="#{Ciudad}"></p>
                <p th:text="#{Categoria}"></p>
            </div>
            <div th:each="c : ${listaClientes}">
                <p><a th:href="@{/clientes/__${c.id}__}" th:text="${c.nombre}"></a></p>
                <p th:text="${c.apellido1}"></p>
                <p th:text="${c.apellido2}"></p>
                <p th:text="${c.ciudad}"></p>
                <p th:text="${c.categoria}"></p>
            </div>

        </div>
        <p class="maximo"
        th:text="#{pedidoMaximo}">
            Verde = pedido máximo
        </p>
        <p class="minimo"
           th:text="#{pedidoMinimo}">
            Amarillo = pedido mínimo
        </p>
        <form class="form_listado" th:action="@{/comerciales}" method="get">
            <input th:value="#{OK}" type="submit">
        </form>
    </div>

</div>

</body>
</html>