<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <link rel="stylesheet" href="/css/stylesDetalleCliente.css">
</head>
<body>
    <div id="contenedor" th:object="${cliente}">
        <h1>Detalle de cliente</h1>
        <div id="contenido">
            <div id="id">
                <p>Id: </p>
                <p th:text="*{id}"></p>
            </div>
            <div id="nombre">
                <p th:text="#{Nombre}">Nombre: </p>
                <p th:text="*{nombre}"></p>
            </div>
            <div id="apellido1">
                <p th:text="#{Apellido1}">Apellido 1: </p>
                <p th:text="*{apellido1}"></p>
            </div>
            <div id="apellido2">
                <p th:text="#{Apellido2}">Apellido 2: </p>
                <p th:text="*{apellido2}"></p>
            </div>
            <div id="ciudad">
                <p th:text="#{Ciudad}">Ciudad: </p>
                <p th:text="*{ciudad}"></p>
            </div>
            <div id="categoria">
                <p th:text="#{Categoria}">Categoria: </p>
                <p th:text="*{categoria}"></p>
            </div>
            <form class="form_listado" th:action="@{/clientes}" method="get">
                <input th:value="#{OK}" type="submit">
            </form>
        </div>

    </div>

</body>
</html>